@use "global";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  font-family: "Ruhl", sans-serif;
  animation: opening 1s ease-in-out forwards;
}
h1 {
  font-family: "Vibes", sans-serif;
}

.main-head {
  position: relative;
  box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
  z-index: 2;
}
nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 2rem 0rem;
}

#logo {
  flex: 1 1 20rem;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  flex: 1 1 20rem;
}

// Animations
@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
